<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>index - Welcome [{{username}}]</title>
    <link rel="shortcut icon " type="images/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/toastr/css/toastr.min.css">
    {{ dropzone.load_css() }}
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/toastr/js/toastr.min.js"></script>
    {{ dropzone.load_js() }}
    <style>
    html,
    body,
    .container {
        width: 100%;
        height: 100%;
    }

    #text {
        width: 65%;
        height: 50%;
    }

    #terminal {
        background-color: black;
        color: cornsilk;
        padding: 5px;
    }

    .upload {
        margin: 5%;
    }
    .user{
        position: fixed;
        top: 5px;
        right: 5px;
    }
    </style>
    <script>
    $(function() {
        $('#sub').click(function() {
            var txt = $('#text');
            if (txt.val() != "") {
                $.ajax({
                    url: '/setmsg',
                    type: 'POST',
                    data: { 'text': txt.val() },
                    success: function(data) {
                        if (data == 'ok') {
                            $('#text').val("");
                        }
                    }
                });
            }
        });
        // $('#terminal').
    });
    </script>
</head>

<body>
    <div class="container">
        <div class="user">
            welcome,{{username}}
            <br><br>
            <a href='/uuid'><button class='btn btn-primary'>uuid</button></a>
	    </div>
        <textarea name="text" id='text'></textarea>
        <textarea name="terminal" id="terminal" cols="70" rows="20" value='[Ricardo] ->'> 
        </textarea>
        <!-- <label for="terminal">Ricardo -> </label> -->
        <!-- <button class="btn btn-primary"  id="set">提交</button>--><br>
        <a href='/msg'><button class="btn btn-success">给你看的</button></a>
        <a href='/filelist'><button class="btn btn-success">文件列表</button></a>
        <button class="btn btn-primary" id="sub">发送</button>
        <div class="upload">
            {{ dropzone.create(action='/file') }}
        </div>
    </div>
    <script>
        toastr.options = {
            "closeButton": true, //是否显示关闭按钮
            "debug": false, //是否使用debug模式
            "positionClass": "toast-top-center",//弹出窗的位置
            "showDuration": "300",//显示的动画时间
            "hideDuration": "1000",//消失的动画时间
            "timeOut": "5000", //展现时间
            "extendedTimeOut": "1000",//加长展示时间
            "showEasing": "swing",//显示时的动画缓冲方式
            "hideEasing": "linear",//消失时的动画缓冲方式
            "showMethod": "fadeIn",//显示时的动画方式
            "hideMethod": "fadeOut" //消失时的动画方式
        };
        {%if info %}
        toastr.success('{{info}}');
        {%endif%}
    </script>
</body>
</html>
